@{
    Layout = "_AdminPage";
    ViewData["Title"] = "Page Views";
}

@model Calla.Data.PageViews[]

    <ul>
        <li><a asp-area="" asp-controller="PageViews" asp-action="Referrers">Referrers</a></li>
        <li><a asp-area="" asp-controller="PageViews" asp-action="UserAgents">User Agents</a></li>
    </ul>

    @if (Model.Length == 0)
    {
        <p>No Content</p>
    }
    else
    {
        <table id="output" cellspacing="0">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Referrer</th>
                    <th>User Agent</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model)
                {
                    <tr id="row-@row.Id">
                        <td>@row.Timestamp</td>
                        <td>@row.From</td>
                        <td>@row.To</td>
                        <td>@row.Referrer</td>
                        <td>@row.UserAgent</td>
                        <td>
                            <button type="button" onclick="deleteItem(@row.Id)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }