@{
    Layout = "_YarrowVRAdminPage";
    ViewData["Title"] = "Audio Tracks";
}

@model IEnumerable<Yarrow.Models.Admin.AudioTrack>

@section HeadScripts{
    <script type="text/javascript">
        function toggleSpatialization(id) {
        }
    </script>
}


@if (Model == null || Model.Empty())
{
    <p>No Content</p>
}
else
{
    <table id="output" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th>Activity</th>
                <th>Transform</th>
                <th>File</th>
                <th>Volume</th>
                <th>MinDistance</th>
                <th>MaxDistance</th>
                <th>AutoPlay</th>
                <th>Loop</th>
                <th>Zone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
            <tr>
                <td>@row.ID</td>
                <td>@row.ActivityName</td>
                <td><a href="~/YarrowVRAdmin/Transform/@row.TransformID">@row.TransformID</a></td>
                <td><a href="~/@row.Path">@row.FileName</a> (@row.Mime)</td>
                <td>@row.Volume</td>
                <td>@row.MinDistance</td>
                <td>@row.MaxDistance</td>
                <td>@row.AutoPlay</td>
                <td>@row.Loop</td>
                <td>@row.Zone</td>
                <td>
                    <button type="button" onclick="updateItem({ID: @row.ID, Spatialize: '@row.Spatialize' === 'False'})">@(row.Spatialize ? "Surround" : "Mono")</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
}