@{
    Layout = "_YarrowVRAdminPage";
    ViewData["Title"] = "Transforms";
}

@model System.Collections.Generic.IEnumerable<Yarrow.Data.Transforms>


@if (Model == null || Model.Empty())
{
    <p>No Content</p>
}
else
{
    <table id="output" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th>Activity</th>
                <th>Name</th>
                <th>FullPath</th>
                <th>Matrix</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr>
                    <td><a href="~/YarrowVR/Transform/@row.Id">@row.Id</a></td>
                    <td>@row.ActivityId</td>
                    <td>@row.Name</td>
                    <td>@row.FullPath</td>
                    <td>@row.Matrix</td>
                </tr>
            }
        </tbody>
    </table>
}